$center-background: #FFFFFF;
$right-background: #2F2F31;
$code-example-background: #EDEDF6;
$code-example-border: #595959;
$code-example-text: #191919;
$endpoint-header-background: #FAFAFF;
$light-code-block: #f8f9fa;
$dark-code-block: #252528;
$dark-code-font: #D3D3D3;
$dark-code-key: #66B160;
$dark-code-subkey: #951E1E;
$dark-code-number: #3368D8;
$qjquery: #6CC6EB;
$qstring: #BD792C;
$qmethod: #E7BD49;
$qgreen: #277323;
$qblue: #3368D8;


