$center-background: #FFFFFF;
$right-background: #2F2F31;
$code-example-background: #EDEDF6;
$code-example-border: #BEBEBE;
$code-example-text: #191919;
$endpoint-header-background: #FAFAFF;
$light-code-block: #f8f9fa;
$dark-code-block: #252528;
$dark-code-font: #D3D3D3;
$dark-code-light-font: #E6E6E6;
$dark-code-dropdown: rgba(255, 255, 255, 0.8);
$dark-divider: #353538;
$dark-code-key: #66B160;
$dark-code-subkey: #951E1E;
$dark-code-number: #3368D8;
$qjquery: #6CC6EB;
$qstring: #BD792C;
$qmethod: #E7BD49;
$qgreen: #277323;
$qblue: #3368D8;
$chrome-purple: #7D4AAF;
$code-red: #BD4147;


