.left-nav {
    position: fixed;
    max-width: 12%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $center-background;
}

.center-desc {
    background-color: $center-background;
}

.right-example {
    position: fixed;
    max-width: 45%;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $right-background;
    box-shadow: -5px 5px 5px;
    overflow-y: scroll;
}


.center-content {
    // border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 12%;
    top: 0;
}

.olympic-rings {
    width: 100%;
    min-height: 8%;
    max-height: 140px;
}

.code-example {
    background-color: $code-example-background;
    color: $code-example-text;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.nav-tabs,
.nav-link,
.nav-item,
.nav-link.active {
    border: none;
    border-radius: none;
}

.nav-link {
    color: grey;
}

.nav-link:hover {
    color: inherit;
    border: none;
    padding: none;
    padding: 0.5rem 1rem;
    margin-bottom: 2px;
}

.nav-link.active:hover {
    margin-bottom: 0;
}

.nav-item {
    border-left: 2px solid grey;
}


.nav-item > .nav-link.active {
    margin-left: -2px;
    padding-left: 17px;
    padding-bottom: 9px;
    border: none;
    color: black;
    border-radius: 0px;
    border-left: 2px solid black;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ajax-example {
    overflow-x: scroll;
}

pre.light-example-block {
    text-align: left;
    white-space: pre-line;
}

.overflow-x {
    overflow-x: scroll;
}

.v-ex {
    width: 100%;
    background-color: black;
}

.version-example1 {
    position: relative;
    left: 0;
    top: 0;
}

.version-example1 {
    position: relative;
    left: 50%;
    top: 0;
}

.endpoint-header {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $endpoint-header-background;
}

pre.light-example-block {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: $light-code-block;
    border-radius: 0.25rem;
}

.code-block {
    width: 100%;
    background-color: $light-code-block;
}

.code-block-dark {
    border-radius: 3px;
    background-color: $dark-code-block;
}

.code-block-dark pre {
    color: $dark-code-font;
    font-size: 0.8rem;
}

.code-block-dark pre code span.key {
    color: $dark-code-key; 
}

.code-block-dark pre code span.number {
    color: $dark-code-number; 
}

.code-block-dark pre code span.subkey {
    color: $dark-code-subkey; 
}

.dark-code-font {
    color: $dark-code-font;
}

.dark-code-headers {
    color: $dark-code-font;
}

.qjquery {
    color: $qjquery;
}

.qstring {
    color: $qstring;
}

.qmethod {
    color: $qmethod;
}

.qgreen {
    color: $qgreen;
}

.qblue {
    color: $qblue;
}

.chrome-purple {
    color: $chrome-purple;
}

.chrome-code {
    color: black;
}

.code-red {
    color: $code-red;
}

.code-red-background {
    background-color: $code-red;
}

.dark-line-divider {
    border-bottom: 1px solid $dark-code-font;
    width: 100%;
}

.full-url {
    color: $dark-code-font;
    width: 100%;
}

.http-method {
    border-radius: 3px;
    border: 1px solid $dark-code-font;
    padding: 0.25rem;
    font-weight: bold;
}

.root-url {
    color: $dark-code-light-font;
    font-size: 1rem;
}

.dark-dropdowns {
    background: $dark-code-dropdown;
}

.dropdown-item {
    color: black;
}

.dark-url-div {
    background-color: $dark-code-block;
    width: 100%;
    // border-top: 1px solid $dark-divider;
    // border-bottom: $dark-divider;
    box-shadow: 0 4px 10px black inset;
}

.dark-dropdowns-button {
    width: 115px !important;
}

.dark-input-url {
    color: $dark-code-light-font;
    background-color: inherit;
    border: none;
    text-decoration: none;
    outline: none;
    width: 50%;
    box-sizing: border-box;
}

.dark-response-example,
.dark-request-example {
    width: 90%;
    min-height: 150px;
    font-family: monospace;
}

.dark-response-div,
.dark-language-div {
    width: 100%;
    border-radius: 3px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow-x: scroll;
}

.dark-response-div {
    max-height: none;
}

.onetwolineheight {
    line-height: 1.4rem;
}

.string { color: #E94F64; }
.number { color: #46CBDE; }
.boolean { color: $dark-code-key; }
.null { color: #E57254; }
.key { color: $qmethod; }

.dark-response-div pre {
    overflow-x: scroll;
    line-height: 1.4rem;
    font-size: 0.7rem;
}